{% if parent != null %}
    {% set subnodes = categories.where('parent_uuid', parent) %}

    {% if subnodes.count() %}
        <!-- Start Widget -->
        <div class="sidebar-widget categories-widget mt-60">
            <h4 class="widget-title position-relative fw-normal mb-5">Sub Categories</h4>
            <ul class="sidebar-check-fields">
                {% for node in subnodes.sortBy('order') %}
                    <li>
                        <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ node.address }}">{{ node.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- End Widget -->
    {% endif %}
{% endif %}

<!-- Start Widget -->
<div class="sidebar-widget categories-widget mt-60">
    <h4 class="widget-title position-relative fw-normal mb-5">Categories</h4>
    <ul class="sidebar-check-fields">
        {% for node in categories.where('parent_uuid', null).sortBy('order') %}
            <li>
                <a href="/{{ parameter('catalog_address', 'catalog') }}/{{ node.address }}">{{ node.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<!-- End Widget -->

