<!-- Start Footer Area -->
<footer class="footer-style-2 pt-140 overflow-hidden footer-mobile-accordion">
    <div class="container-1240">
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="hm2-footer-widget">
                    <h5 class="mb-40 fw-medium text-capitalize">Showroom &amp; Store</h5>
                    <div class="footer-address">
                        <a href="tel:{{ parameter('var_phone', '+1 (900) 00 000 0000') }}">
                            {{ parameter('var_phone', '+1 (900) 00 000 0000') }}
                        </a>
                        <br>
                        <a href="mailto:{{ parameter('var_email', 'support@example.com') }}" class="mail">
                            {{ parameter('var_email', 'support@example.com') }}
                        </a>
                        <p class="mt-32">219 Geom Street. UYS Office 215 Frankfurt-Germany</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 offset-xl-1 col-sm-6">
                <div class="footer-widget footer-nav-widget">
                    <h5 class="widget-title mb-40 fw-medium text-capitalize">Follow Us On</h5>
                    <ul class="footer-links">
                        <li><a href="{{ parameter('var_soc_facebook', '#') }}"><i class="fa-brands fa-square-facebook"></i> Facebook</a></li>
                        <li><a href="{{ parameter('var_soc_twitter', '#') }}"><i class="fa-brands fa-square-twitter"></i> Twitter</a></li>
                        <li><a href="{{ parameter('var_soc_instagram', '#') }}"><i class="fa-brands fa-square-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 offset-xl-1 col-sm-6">
                <div class="footer-widget footer-nav-widget">
                    <h5 class="widget-title mb-40 fw-medium text-capitalize">Customer</h5>
                    <ul class="footer-links">
                        <li><a href="#">Help &amp; Contact Us</a></li>
                        <li><a href="#">Return &amp; Refunds</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 offset-xl-1 col-sm-6">
                <div class="footer-widget footer-nav-widget">
                    <h5 class="widget-title mb-40 fw-medium text-capitalize">Profile</h5>
                    <ul class="footer-links">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Help &amp; Support</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hm2-footer-copyright">
            <div class="row align-items-center g-3">
                <div class="col-lg-6">
                    <p class="mb-0 fs-sm">
                        Work by
                        <a href="https://getwebspace.org" rel="nofollow" target="_blank">WebSpace Engine</a>
                        <br/>
                        Designed in
                        <a href="https://themeforest.net/user/mate_themes" rel="nofollow" target="_blank">Venturi</a>
                    </p>
                </div>
                <div class="col-xl-6">
                    <p class="mb-0 fs-sm">We use cookies to give you the best experience on our website. <a href="#" class="text-main-color text-decoration-underline">Cookie settings</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ End Footer Area -->
